# Global
.DS_Store
Thumbs.db
*.log

# Env files
.env
.env.local

# Node modules (cả backend & frontend)
be/node_modules/
todolist/node_modules/

# Build artifacts
be/dist/
todolist/build/
todolist/dist/

# React/Vite/Next specific
todolist/.next/
todolist/.vite/
todolist/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker override
*.local
docker-compose.override.yml
